NODE_ENV=production

NETWORK_NAME=skeleton-network

APP_USER=skeleton-nnp
APP_VERSION=1.0
APP_NAME=api-skeleton
APP_DESCRIPTION=api-skeleton-description
APP_TAG=api-skeleton-TAG
SWAGGER_TITLE=swagger-api-skeleton
SWAGGER_PREFIX=api

## Node APP
SERVER_HOST_NAME=skeleton-nnp-server
PORT=3001
EXPOSED_PORT=3001
API_PREFIX=/
APP_WORKDIR=/app
LOG_DIR=logs
HEALTH_CHECK_ENDPOINT=/health

# DATABASE
DB_HOST_NAME=skeleton-nnp-db
DB_PORT=5432
EXPOSED_DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=skeletonnnp

# PRISMA
# This is for prisma code generation purpose
PRISMA_DUMMY_DATABASE_URL=postgresql://dummy:dummy@localhost:5432/dummy
PRISMA_CONFIG=prisma.config.ts
PRISMA_SCHEMA=prisma/schema
PRISMA_MIGRATIONS_PATH=prisma/migrations
PRISMA_DATABASE_URL=postgresql://admin:admin@127.0.0.1:5432/skeletonnnp?schema=public


# SCHEMATHESIS
SCHEMATHESIS_BASE_URL=http://10.0.2.15:3001
SCHEMATHESIS_WORKERS=3
SCHEMATHESIS_SCHEMA_URL=http://10.0.2.15:3001/api-json
SCHEMATHESIS_OUTPUT_DIR=/app/results
SCHEMATHESIS_MAX_SCHEMA_WAIT=7
SCHEMATHESIS_MAX_API_RESPONSE_TIME=7.0
SCHEMATHESIS_MAX_FAILURES=3
SCHEMATHESIS_RETRY_DELAY=3
SCHEMATHESIS_MAX_EXAMPLES=1